<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>All Players</title>
  </head>

  <body>
    <% include ../partials/nav %>

    <div id="container">
      <h2>All Players</h2>
      <div id="flexcont">
        <table>
          <thead>
            <tr>
              <th>
                <h4>Hooper</h4>
              </th>
              <th>
                <h4>Rating</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <% players.forEach(function(p) { %>
            <tr>
              <td></td>
              <td><%= p.hooper %></td>
              <td><%= p.avgRating %></td>
              <td><a href="/players/<%= p._id %>" id="detailsLink">Info</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
