<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new.css">

    <title>New Hooper</title>
</head>

<body>
    <% include ../partials/header %>

        <div id="container">
            <h2>Add a New Hooper</h2>
            <form action="/players" method="POST">
                <label>Hooper:
                <input type="text" class="input" name="hooper">
            </label><br>
            <BR>
            <label>Rate Hooper:
            <select name="avgRating" class="input">
              <option value="10">10 Stars</option>
                <option value="9">9 Stars</option>
                <option value="8">8 Stars</option>
                <option value="7">7 Stars</option>
                <option value="6">6 Stars</option>
                <option value="5">5 Stars</option>
                <option value="4">4 Stars</option>
                <option value="3">3 Stars</option>
                <option value="2">2 Stars</option>
                <option value="1">1 Star</option>
            </select>
            <label>Age:
              <input type="text" class="input" name="age">
          </label><br>
          <label>Height:
            <input type="text" class="input" name="height">
        </label><br>
        <label>Position:
          <input type="text" class="input" name="position">
      </label><br>
            <label>Comments:
            <input type="text" class="input" name="comments">
        </label><br>
                <input type="submit" value="Add Hooper" id="button">
            </form>
        </div>
        <% include ../partials/footer %>
</body>