<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapiscom/css2?family=Gayathri&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gayathri&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Profile</title>
  </head>
  <body>
    <nav>
      <a href="/index" class="nav">Home Page</a>
      <a href="/players/index" class="nav">Hoopers</a>
    </nav>
    <h1>My Details</h1>
    <div id="profile">
      <% if (user.avatar) { %>
      <img src="<%= user.avatar %>" id="avatar" />
      <% } %>
      <div>
        <%= user.name %><br />
        <%= user.email %>
      </div>
    </div>
    <div class="center">
      <a href="/following" id="profileBtn">Hoopers on My Radar</a>
    </div>
  </body>
</html>
