
<!DOCTYPE html>
<html>
<head>
  <link
      href="https://fonts.googleapiscom/css2?family=Gayathri&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gayathri&display=swap"
      rel="stylesheet"
    />
  <title>Hoopers 4 life</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="mainview">
  <nav>
    <div class="nav">
      <% if (user) { %>
        <a href="profile/show" class="nav">My Profile</a>
        <a href="/logout" class="nav">Log Out</a>
        <% } else { %>
          <a href="/auth/google" class="nav">Login with Google</a>
      <% } %>
    </div>
    <a href="players/index" class="nav">Hoopers</a>
  </nav>
  <h1>Hoopers 4 Life</h1>
  <div id="welcome">
    <h3>What's up Hoopers?,<br>
      Welcome to a World for Hoopers...<br>
      This is an app that allows you to connect with other underground Hoopers! <br> 
      Get on their RADAR！<br>
      Go make yourself known, connect and enjoy!</h3>
  </div>
  </div>
</body>
<script type="text/javascript">
</script>
</html>

<%- include('./partials/footer.ejs')-%>
