<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <title>Document</title>
</head>

<body>
    <div id="frame">
        <h2> Welcome to </h2>
        <h1> Hoopers 4 Life!! </h1>
        <h4>This is an app that allows you to connect with other underground Hoopers! <br> 
          Get on their RADAR！<br>
          Go make yourself known, connect and enjoy!</h3>
        </h4>
        <div>
            <% if (user) { %>
                <button>
                <a href="/logout"></i>Log Out</a></button>
                <% } else { %>
                    <button>
                <a href="/auth/google"></i>Login with Google</a></button>
                    <% } %>
                        &nbsp; &nbsp; | &nbsp; &nbsp;
                        <% if (user) { %>
                            <button><a href="/players">Back to Players</button></a>
                            <% } else { %>
                                <button><a href="/players">Proceed without Login</button></a>
                                <% } %>
        </div>
    </div>
</body>

</html>

<%- include('./partials/footer.ejs')-%>
