@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap");

* {
  margin: 0;
  position: relative;
}

.container {
  background-color: black;
  color: aqua;
  position: fixed;
  width: 100%;
  bottom: 0px;
  font-size: 18px;
  height: 55px;
}

p {
  margin-top: 5px;
  text-align: center;
}
