@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap");

body {
  background-image: url("https://i.imgur.com/BOILyxE.jpg");
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Syne", sans-serif;
  font-size: 1.75em;
}

#container {
  background-color: blue;
  width: 50%;
  padding: 70px;
  border-radius: 10px;
  opacity: 0.95;
  margin-right: 25%;
  margin-left: 25%;
}

#button {
  background-color: red;
  font-size: 1em;
  border-radius: 10px;
  border: solid black;
  color: black;
}

#button:hover {
  border: solid red;
  background-color: blue;
}

.login {
  width: 200px;
  background-color: red;
  font-size: 0.75em;
  border-radius: 10px;
  border: solid black;
  color: blue;
}

a {
  color: blue;
  text-decoration: none;
}

h2 {
  color: red;
  font-family: "Syne", sans-serif;
  margin-bottom: 20px;
}

h4 {
  color: darkred;
  font-family: "Syne", sans-serif;
  font-size: 20px;
}

#detailsLink {
  color: blue;
}

#detailsLink:hover {
  color: red;
}

#flexContainer {
  justify-content: center;
  align-items: center;
}
