@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap");

* {
  margin: 0;
}

h1 {
  font-family: "Syne", sans-serif;
  text-align: center;
  font-size: 3.5em;
  color: whitesmoke;
}

.header-container {
  background-color: darkred;
  padding: 15px;
}

.nav-container {
  background-color: black;
  font-family: "Syne", sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin-bottom: 80px;
}

a {
  color: blue;
  font-size: 20px;
  letter-spacing: 0.5px;
}

a:hover {
  color: orange;
}
