@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap");

body {
  background-image: url("https://i.imgur.com/BOILyxE.jpg");
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Syne", sans-serif;
  font-size: 1.75em;
}

#button {
  background-color: red;
  font-size: 1em;
  border-radius: 10px;
  border: solid black;
  color: black;
}

#button:hover {
  border: solid red;
  background-color: blue;
}

a {
  color: blue;
  text-decoration: none;
}

#details {
  background-color: white;
  width: 50%;
  padding: 70px;
  border-radius: 10px;
  opacity: 0.95;
  margin-right: 25%;
  margin-left: 25%;
}

h4 {
  font-size: 1.25em;
  color: red;
}

h2 {
  color: red;
  font-family: "Syne", sans-serif;
  font-size: 2em;
}

#commentContainer {
  background-color: blue;
  width: 50%;
  padding: 70px;
  border-radius: 10px;
  opacity: 0.95;
  margin-right: 25%;
  margin-left: 25%;
}

.input {
  background-color: blue;
  font-size: 20px;
  font-family: "Syne", sans-serif;
  margin: 3px;
}

.input:hover {
  border: solid medium orange;
}

#commentContent {
  margin-top: 30px;
}

table {
  text-align: center;
}

#xbutton {
  background-color: red;
  font-size: 1em;
  border: solid black;
  color: black;
}

#xbutton:hover {
  border: solid orange;
  background-color: black;
}
