@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap");

body {
  padding: 50px;
  font-family: 16px "Syne", sans-serif;
  height: 100%;
  background-size: auto;
  background: url("https://i.imgur.com/BOILyxE.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
  align-content: center;
}

main {
  background-color: grey;
  position: relative;
  font-family: 18px "Syne", sans-serif;
  background-color: whitesmoke;
  width: 50vw;
  padding: 0;
  align-self: center;
}

header {
  position: relative;
  font-family: 18px "Syne", sans-serif;
  background-color: red;
  width: 50vw;
  height: 5vh;
  padding: 0;
  align-self: center;
}

a {
  color: blue;
}
